[2018-01-31 14:57] michzimny opened #1 "Document how to install and configure desktop client"
We should clearly provide the information to end-users how to install ownCloud desktop client and set it up with CERNBox.

AFAIK this should be:
* download the client, e.g. https://download.owncloud.com/desktop/stable/ownCloud-2.4.0.8894-setup.exe
* install
* provide CERNBox url like https://cernbox.test.up2university.eu/cernbox/desktop (this is a kind of secret knowledge)
* skip some steps about

[2018-02-01 14:27] michzimny commented on #1
Andrea (GARR) has reported:

It might be related to the lack of instructions (skipping directory configuration?).

[2018-02-01 14:30] michzimny commented on #1
The question appears - would it be possible to not require users to skip the default directoy configuration in the desktop client?

[2018-02-06 14:19] michzimny opened #2 "Disable listing users and consider how to share directories"
It is possible to list all the users when sharing a directory. It is not the right solution for schools because of GDPR.

Is there any other place where the list of users can be accessed?

[2018-02-09 14:02] michzimny commented on #1
https://docs.google.com/document/d/1-PN40S14i0KPVlvAvBQ2xqQNBe45JtSRadYi5wDzQm8/edit

[2018-02-14 10:09] michzimny commented on #1
Possible problem: authentication to the desktop client vs. SSO? I should rather not be asked to enter my Gmail password to the desktop client.

[2018-02-19 11:48] andreacorleto opened #3 "error in authentication from moodle to cernbox"
Trying upload an image in Moodle (test platform) from cernbox I get this message error (error/Could not upgrade OAuth token)

[2018-02-19 15:03] michzimny opened #4 "Swan has HTTPS cert not properly configured"
Intermediate certs are not read by Apache.

My investigations explained in an email.

[2018-02-20 08:37] ebocchi commented on #4
Fixed by adding directive "SSLCertificateChainFile /etc/boxed/certs/boxed.crt" in apache configuration.

The web server providing swan.test.up2university.eu runs on a temporary fix (which will be wiped out in case container restarts).
The fix is embedded in Docker image "gitlab-registry.cern.ch/cernbox/boxedhub/jupyterhub:v0.5"

[2018-02-20 08:39] #4 closed

[2018-02-20 08:55] ebocchi commented on #3
Thanks for reporting.
Could be due to the externalization of Moodle configuration.
I will cross-check with the other developers.

[2018-02-27 18:03] ebocchi commented on #3
I am for this not being fixed yet, but we are having issues with the authentication to the test instance.
I will report back asap once it is fixed and I can investigate more on the issue.

[2018-03-16 15:44] ebocchi opened #5 "SWAN daemons not deployed in Kubernetes cluster"
For reasons to be investigated, swan daemons to access EOS and CVMFS are not deployed in the cernbox-alpha cluster.
I have already tried to:
- deploy the daemons and user sessions ("swan-user" label) on another cluster node;
- remove and re-add the node labeled with "swan-users" (cernbox-alpha-1) to the cluster;
- reinstall docker and kubernetes on cernbox-alpha-1;
- restart various services on ce

[2018-03-20 12:44] michzimny commented on #5
@ebocchi, just a quick comment: the cluster is set up with the script https://github.com/michzimny/kuboxed/blob/master/InitNode.sh and https://github.com/michzimny/kuboxed/blob/master/etc/common.sh. The only change to your upstream is the Kubernetes version that has been bumped to 1.8.1.0 because of a bug in 1.8.0: https://github.com/kubernetes/kubernetes/issues/53288

After running the scripts th

[2018-03-20 12:55] ebocchi commented on #5
@michzimny
This has already been fixed (see email thread)
Thanks a lot for your heads-up! I am now closing this one

[2018-03-20 12:55] #5 closed

[2018-03-20 13:35] michzimny opened #6 "After login via Google I don't see my first name"
I see a sort of code instead of my first name. Field matching problem? In CERNBox or in SSO?

Here:
![capture](https://user-images.githubusercontent.com/1483196/37657593-bc7c9e12-2c4b-11e8-8fcd-8d9fc7eebf2d.PNG)

and there:
![capture2](https://user-images.githubusercontent.com/1483196/37657606-c3d9e49e-2c4b-11e8-8465-c92729ae6060.PNG)

[2018-03-20 13:49] ebocchi commented on #6
This is what I get from the SSO:
displayName is empty
givenName is ": TWljaGHFgg=="
surname is "Zimniewicz"

When the displayname is empty, we build "your" name as givenName + surname.

Could @foobarable check what is there on the SSO side?

[2018-03-20 13:56] foobarable commented on #6
@ebocchi Which instance?

[2018-03-20 13:57] michzimny commented on #6
https://cernbox.test.up2university.eu/cernbox

[2018-03-20 14:05] foobarable commented on #6
Can you check https://cernbox.test.up2university.eu/cernbox/Shibboleth.sso/Session

After I log in via edugain my session looks like this:

Attributes
eppn: 1 value(s)
givenName: 1 value(s)
mail: 1 value(s)
sn: 1 value(s)
uid: 1 value(s)

![screenshot-2018-3-20 personlich - cernbox](https://user-images.githubusercontent.com/893335/37659379-1944f1ea-2c50-11e8-8f87-f1871ede75b2.png)

[2018-03-20 14:07] ebocchi commented on #6
I have
[code]

![screenshot from 2018-03-20 15-07-09](https://user-images.githubusercontent.com/16349448/37659477-6b1d27bc-2c50-11e8-8c7e-8200ea3328df.png)

[2018-03-20 14:08] foobarable commented on #6
eMail Mapping seems wrong, also which authsource did @michzimny use for his result?

[2018-03-20 14:11] michzimny commented on #6
Google

I have:
[code]

[2018-03-20 14:13] ebocchi commented on #6
Yes, we are not showing the right email but the internally-mapped account name.
However, this does not impact the display name issue reported by michzimny

[2018-03-21 11:57] foobarable commented on #6
@michzimny Can you please log in via google at oc.test.up2university.eu and send me the output of https://oc.test.up2university.eu/Shibboleth.sso/Session?

[2018-03-21 13:01] michzimny commented on #6
Sent by mail.

[2018-03-23 13:13] foobarable commented on #6
Found the reason. Our LDAP stores names with special characters like this. We have to decode before we pass the attribute.

[2018-03-27 11:47] michzimny commented on #6
I move the issue to the SSO project: https://github.com/up2university/single-sign-on/issues/32

[2018-03-27 11:49] michzimny commented on #1
Closing as this is a high-level problem.

[2018-03-27 12:04] michzimny opened #7 "Different files in CERNBox/SWAN and unable to upload files"
I can add files through SWAN but they're not visible in CERNBox. In CERNBox I see no files.

Trying to upload a file to CERNBox, I get:

For the latter problem, maybe I have quota 0 and SWAN does not check the quota?

I tested with Google and EduGAIN accounts. Everything at cernbox/swan.test instance.

[2018-03-27 12:44] ebocchi commented on #7
Could you please try again now?
It could have been due to the lost VM and a not cleaned-up permission on the EOS side.

[2018-03-27 12:58] michzimny commented on #7
It's much better now.

Shall we document the procedure you undertook for administrators?

[2018-03-27 13:04] ebocchi commented on #7
It was a sort of "emergency" procedure to unstuck this misconfigured bit. It should not be required, even in the case a container fails. In case of unexpected failures of the VMs or something down in the infrastructure, it can be useful to deploy --> delete --> re-deploy. The delete will clear inconsistencies that could impact the functionality of the service.

The documentation will be updated wi

[2018-03-27 13:06] #7 closed

[2018-04-17 11:55] michzimny commented on #3
@andreacorleto, I believe it is not a problem anymore?

[2018-04-17 11:55] #3 closed

[2018-04-17 11:55] michzimny commented on #2
It seems to be fixed.

[2018-04-17 11:55] #2 closed

[2018-04-17 11:59] michzimny opened #8 "Problem sharing Swan notebook"
I have prepared a simple notebook in Swan. Then I create a shareable URL for it in CERNBox:
https://cernbox.test.up2university.eu/cernbox/index.php/s/JZxivocF6kOepo1

The URL does not work for me if I am not authenticated. The page says about an error and refreshes every 5 secs.

[2018-04-17 12:20] michzimny opened #9 "Add a shared file to own owncloud"
Steps to reproduce:
* Have a share URL to a file in CERNBox
* Open the URL being authenticated as another user
* Click "Add to your owncloud" button in top right corner
* Paste: https://cernbox.test.up2university.eu/cernbox/
* Press Enter
* In the dialog box click "Add remote share"

Expected outcome: the file gets added to my account.

Actual outcome: message "Couldn't add remote share"

[2018-04-17 12:56] ebocchi commented on #8
Strange...
This is what I see by just clicking the link above (and I am not authenticated either):
![screenshot from 2018-04-17 14-55-58](https://user-images.githubusercontent.com/16349448/38870902-81e2fd36-424f-11e8-8f91-cc00c859692b.png)

[2018-04-17 13:00] ebocchi commented on #2
This is not fixed yet. It is hidden due to the internal mapping behind SSO.
Need to stabilize the mapping first and decide what/how should be shown to the user for sharing.

[2018-04-17 13:52] michzimny commented on #8
The URL works for me only if I'm authenticated. I have tried in private windows in Firefox, Chrome, and Opera, two different machines.

![screenshot-2018-4-17 cernbox](https://user-images.githubusercontent.com/1483196/38873912-2a56a1a0-4257-11e8-8178-c3956832374c.png)

When I click the red [x] then I see the download button but the page keeps refreshing itself every 5 secs.

[2018-04-17 14:28] ebocchi commented on #8
Fixed: Wrong shibboleth configuration for SWAN viewer app.
The container runs on a temporary fix (will be wiped on restart).
I am updating the container image (tag will NOT change) to have the correct configuration on board.

[2018-04-17 14:28] #8 closed

[2018-04-17 14:31] michzimny commented on #8
Yes, it works now.

@ebocchi, could you please let me know after your update is ready? I'd like to be sure that I can safely restart the services.

[2018-04-17 15:48] ebocchi commented on #8
I am building the image right now. Say 30minutes, the new one will be there.
This is tagged cernbox:v0.7
Make sure imagePullPolicy is set to Always or pull the image manually on the box, otherwise kubernetes won't fetch the new one.

[2018-04-17 16:07] ebocchi commented on #8
Pushed

[2018-05-04 08:26] Dimitrispant opened #10 "Problem with users signed in on CERNbox via SSO"
During our last training, some of the participants tried to sign in on CERNbox using their Gmail accounts. However, when they signed in the interface language was on French or German and on the top bar despite their names a random token was shown like this one:

![cernbox_error](https://user-images.githubusercontent.com/13375110/39618789-fce69bdc-4f8d-11e8-9415-30ed3bfb8a7f.jpg)

[2018-05-04 08:29] michzimny commented on #10
I think this is caused by https://github.com/up2university/single-sign-on/issues/32 and #6

[2018-05-04 08:29] #10 closed

[2018-05-11 13:26] michzimny commented on #9
@moscicki reports that CERNBox has not been using this feature at all. Maybe it should be hidden then.

[2018-05-17 11:15] michzimny opened #11 "Quota or upload size issue"
Gabriella reports that they have problem with quota size.  Cernbox limit is 50MB and their videos are larger than that.

[2018-05-17 11:16] michzimny commented on #11
Is it really about the limit for the size of all stored files or rather the limit for the size of single uploads?

[2018-05-17 11:34] ebocchi commented on #11
Quota is defined per user and it is 10GB.
I have increased the max upload size of single files from the web interface to 200MB. Is that enough?

[2018-05-23 14:11] michzimny opened #12 "Terminate SSO session"
There is no way to log out, meaning to terminate the SSO session. Log-out buttons in CERNBox and SWAN just make redirects.

The use case: I'm working on a public machine, then I log out and leave it for another person. Then I expect I have logged out successfully and no one can access my files.

Ralph provided docs about that: https://wiki.shibboleth.net/confluence/display/CONCEPT/SLOIssues

GWDG

[2018-05-23 14:42] michzimny commented on #12
It seems that Moodle correctly terminates the shib session in the browser and at IDP side. We could ask @athird how is it done :)

[2018-06-06 09:10] #11 closed

[2018-06-06 09:11] michzimny commented on #9
Could we hide the option?

[2018-06-08 16:14] ebocchi commented on #6
Fixed!
It was due to inconsistent representation of special characters (mixed plain and utf-8 encoded form SSO and base64 encoding in LDAP)

[2018-06-08 19:30] michzimny commented on #6
It works, thanks!

[2018-06-08 19:30] #6 closed

[2018-07-25 12:05] michzimny commented on #9
Just a kind reminder :)

[2018-07-25 14:07] moscicki commented on #9
FYI @diocas

[2018-08-14 15:40] michzimny commented on #12
ping @moscicki

[2018-08-14 15:42] michzimny opened #13 "Too many configuration options in SWAN"
SWAN provides many configuration options to adjust it to users’ needs, however not all of the options can be usable or understandable by pilots’ participants. For instance, the options when starting a session. Such configuration options could be hidden to make the user workflow easier.

[2018-08-14 15:43] michzimny opened #14 "I18n for SWAN"
Internationalization - currently SWAN is only available in English. What could we do about that?

[2018-08-14 16:00] moscicki commented on #12
@athird: could you please tell us some details how this is done in Moodle?

[2018-09-06 10:08] michzimny opened #15 "Sync client password in CERNBox"
Recently added contents to the Up2U user guide says:

I think it's not the case for Up2U. I cannot find these settings (see below).

We need to update the user guide or fix the software (or deploy a newer version of the software?).

https://cernbox.test.up2university.eu/cernbox/index.php/settings/personal#federated-cloud
![capture](https://user-images.githubusercontent.com/1483196/45150972-58bd198

[2018-10-10 10:05] michzimny commented on #12
ping @athird

[2018-10-15 23:15] michzimny opened #16 "Don't start using SWAN before CERNBox!"
We have two kuboxed instances running for Up2U:
A) Test, known also as 'alpha':
http://cernbox.test.up2university.eu/cernbox/
http://swan.test.up2university.eu/
B) Production:
http://cernbox.up2university.eu/cernbox/
http://swan.up2university.eu/

They are meant to run with the same software versions and the same configurations (apart from domain names only). Maybe it's not truth as they behave di

[2018-10-15 23:43] moscicki commented on #16
Hi Michal, as far as I can tell point 4 has been always like that.

Also in our production setup at CERN which has nothing to do with Up2U users must first have CERNBox i.e. connect to the service to create their space.

http://swan.web.cern.ch:

[2018-10-16 10:51] michzimny commented on #16
Kuba, then ok, I think it could stay like this, but could the error message in Up2U be more clear, i.e. express that one should go to CERNBox first, instead of saying just "Forbidden"?

[2018-10-16 16:02] moscicki commented on #16
@diocas could you please have a look? thx.

[2018-10-29 14:16] tomneedham commented on #2
There are options to show autocomplete results based on group membership, ie: you only see other users, in groups you are a member of. This could allow students and teachers to only see their fellows.

However, first, CERNBox / ownCloud needs knowledge of the groups to control this feature.

[2018-11-07 16:58] gtoffoli opened #17 "Kernel dies after visualizing the notebook"
I accessed the SWAN service at https://swan.up2university.eu/ using the Up2U SSO authentication.
1.
To start playing with SWAN, I uploaded to my CernBox home the notebook https://github.com/explosion/spacy-notebooks/blob/master/notebooks/conference_notebooks/advanced_text_analysis.ipynb
I expected that the Jupyter kernel would not be able to execute the notebook, since it requires some Python libr

[2018-11-07 17:45] moscicki commented on #17
Thank you for the report. We'll look into this. It's quite likely that you encountered problems since this infrastructure has been pretty much unused for a long while, so some services could be down. @diocas @michzimny

[2018-11-08 22:19] michzimny commented on #1
I think we should clarify if we allow Up2U users to use a desktop client. I think it is needed.

[2018-11-08 22:20] michzimny commented on #17
@gtoffoli, does the dead kernel issue still persists?

For me, the kernel works fine, and I cannot see any difference between logs of your and mine jupyter containers. @moscicki, @diocas, if the issue persists, I can give logs, whichever you need.

@gtoffoli, regarding the desktop app, this is an issue yet to be solved - #1.

[2018-11-09 08:36] diocas commented on #1
We will look into this when we have the updated version of science box. We might change the way we authenticate in the client.

[2018-11-09 08:37] diocas commented on #17
@michzimny logs from the containers should give us an ideia of what's happening.

[2018-11-09 09:01] moscicki commented on #17
speculating a bit based on past experience: CVMFS is the only (?) remote runtime dependency over WAN. Would it be a good idea to put a CVMFS caching server at the PSNC data center? so that the local CVMFS caches would be filled from a local server rather than from remote location across WAN.

[2018-11-09 09:07] gtoffoli commented on #17
@michzimny @moscicki Now the kernel issue seems to have been overcome. I am able to start both notebooks I was trying to execute. Obviously I meet execution errors due to missing Python modules.

[2018-11-09 10:53] michzimny opened #18 "CVMFS caching server at PSNC"
@moscicki said (in #17):

I'm not sure how the WAN dependencies in CVMFS work. Is it that every spin-up of a jupyter container requires data download from CERN? Or it is just needed once for each swan-user node (i.e. kubernetes node hosting jupyter containers)?

Anyway, yes, I think we shall consider if the instances at PSNC could download all needed data just locally.

[2018-11-09 10:53] michzimny commented on #17
@gtoffoli, thanks for the update.

@moscicki, I'm closing this issue, and we could discuss your suggestion in the new one #18.

[2018-11-09 10:53] #17 closed

[2018-11-12 17:15] gtoffoli opened #19 "Kernel dies again"
Today, in my session, the Python kernel dies again as in #17, after visualizing a notebook such as Shakespeare_and_Statistics.ipynb (from callysto-sample-notebooks).

[2018-11-12 18:03] michzimny commented on #19
@diocas, I'm sending you relevant log files via email. Please have a look what's wrong.

[2018-11-13 08:25] diocas commented on #19
Hi @michzimny , the problem is the usual one, CVMFS is unreachable in the SWAN session.
I will have to check with CVMFS team what are these errors in the logs.
In the meantime, applying your "patch" of rebooting everything should work.

[2018-11-13 08:36] diocas commented on #19
Just another comment, it looks like that when the CVMFS service started it was unable to reach the servers and then it stayed there for days in a broken state.

[2018-11-14 10:27] michzimny commented on #19
I just applied my "patch".

@gtoffoli, please check if it works for you now.

@diocas, would it be possible that you implement [Kubernetes' readiness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/) (or any similiar solution) in kuboxed? It would enable the cluster to be aware of the fact that cvmfs daemon is not fine and will try to manage suc

[2018-11-14 10:38] gtoffoli commented on #19
Now it's working for me.

[2018-11-14 10:47] diocas commented on #19
@michzimny I will add it to the list of improvements.

[2018-11-19 09:21] gtoffoli opened #20 "Shakespeare_and_Statistics notebook needs NLTK"
As far as I'm concerned, #19 can be closed. Thanks.

When meeting Kuba online a few days ago, I suggested to add to the Python-based LCG releases of SWAN some popular packages for natural language and text processing, such as NLTK and spaCy.
Now, willing to execute the notebooks he pointed out to the Up2U partners, I realized that Shakespeare_and_Statistics requires NLTK.
I tried to install NLTK w

[2018-11-19 13:28] diocas commented on #20
Dear @gtoffoli ,
You can have Python 3 by choosing the corresponding software stack (LCG XX Python 3).
To install new packages, you need to add `--user`: https://github.com/swan-cern/help/blob/up2u/advanced/install_packages.md
These packages will be stored in CERNBox and therefore will persist across sessions.

We will check how we can provide these packages.

[2018-11-19 14:37] michzimny opened #21 "I see no files and my quota is zero"
Currently, at https://cernbox.test.up2university.eu/cernbox/, I see "No files in here", however I have had some files earlier. In fact, they are still accessible from SWAN but not from CERNBox. In addition, when I'm trying to upload anything to CERNBox, it says:

It's not the first time it happens. I suppose that restarting cernbox' pods would solve the issue.

I'd like us, however, to track the c

[2018-11-19 14:38] michzimny commented on #21
Please let me know if there are any other log files I can preserve for you before I restart the pods.

[2018-11-19 15:09] michzimny opened #22 "Readiness probes for CVMFS service"
From time to time, CFMFS services starts up not properly. See #19. From that thread:

@diocas, would it be possible that you implement Kubernetes' readiness probes (or any similiar solution) in kuboxed? It would enable the cluster to be aware of the fact that cvmfs daemon is not fine and will try to manage such case on its own. Currently, Kubernetes is not aware that a particular cvmfs instance do

[2018-11-19 15:09] #19 closed

[2018-11-19 16:55] gtoffoli commented on #20
Thank you @diocas.
I wasn't finding the bash terminal, since I was looking for the "terminal button" mentioned in the Help Pages. Now I've found the _Terminal_ entry it in the _New_ menu.

After installing the packages _nltk_, _TextBlob_ and _rdflib_, I managed to run the _Shakespeare_and_Statistics_ notebook without errors, but some output was missing.

I had to insert a `%matplotlib inline` inst

[2018-11-20 08:41] diocas commented on #20
Hi @gtoffoli
Yes, it's confusing because those help pages are for the new version which is not yet deployed in UP2U. And all the things you don't see are because of that (different place for the terminal button, "always start with config" missing, lack of NbExtensions config, ...). We are currently working in the UP2U update to bring all those new functionalities.

To enable the widgets extension,

[2018-11-20 09:52] gtoffoli commented on #20
Hi @diocas , thank you, but when I run in my notebook the code
`!jupyter nbextension enable --py widgetsnbextension`
I get the following error
[code]
although now I've installed from the terminal the _argparse_ package, with the command
`pip install --user argparse`

It is the same kind of error I got yesterday, trying to run, from the terminal, the code
`jupyter nbextensions_configurator enable -

[2018-11-20 10:43] andreacorleto opened #23 "service unavailable"
![cern_service_unavailable](https://user-images.githubusercontent.com/36439670/48768474-67d64280-ecb9-11e8-9d83-43229aaf7f82.jpg)

[2018-11-20 10:54] michzimny commented on #23
Which instance is that? Please provide URL address. It seems both instances are working for me right now (apart from issue #21).

[2018-11-20 11:02] andreacorleto commented on #23
https://cernbox.test.up2university.eu/cernbox/index.php/apps/files/?dir=/&view=sharingout

[2018-11-20 12:25] michzimny commented on #23
@diocas, this link works for me and does not work for @andreacorleto. What can be the cause? Related to #21 (which still persists)?

[2018-11-21 22:38] michzimny commented on #21
Recreating first cernbox and then cernbox-gateway pods has solved the issue.

But let's study please what was the cause and how to make kubernetes aware in the future.

[2018-11-21 22:39] michzimny commented on #23
@andreacorleto, please have a look if the issue still persists.

[2018-11-21 23:07] michzimny commented on #12
@athird, is there anything you could tell us more about how logging out is organised in Moodle? If not, then do we have anyone who could?

[2018-11-22 12:55] diocas commented on #23
I would have to look into the logs, I cannot tell by that error.

[2018-11-22 12:58] diocas commented on #21
We can study this problem, but CERNBox is in process of being upgraded with a major new version, so I don't know if this is relevant for now. I say this because the complete backend is being replaced.

[2018-11-22 13:05] andreacorleto commented on #23
@michzimny @diocas yes, the error still persists

[2018-11-22 13:31] diocas commented on #20
Sorry, I forgot you are in Python3 stack.
try `!python3 -m jupyter nbextension enable --py widgetsnbextension` instead.
Let me know if it works.

[2018-11-22 15:18] gtoffoli commented on #20
Hi @diocas , now the code for enabling the extension runs without errors. But something is still missing or there is a problem in the original notebook.
I'm attaching the notebook file after its execution (with .txt extension, since .ipybn files cannot be attached).
In cell [19], without knowing the details, I expect that line
`selector = widgets.Dropdown(options=choices, description='Select Text:

[2018-11-22 15:20] michzimny commented on #21
Ok, if the newer version is coming then it does not make sense to deeply study the old one.

@diocas, what is the timeline to have the upgraded version you mentioned in kuboxed?

[2018-11-23 09:09] andreacorleto commented on #23
To better describe the error: when I click on a file shared or try to download it I got this error. They are mp4 files. Even if I try to delete these files I got an error and deleting it's not allowed. I cannot even upload other files due to issue #21

[2018-11-26 09:20] diocas commented on #21
We're trying to have until the end of this year.
We are making progresses in CERNBox, but then we need to test the OCM capabilities. Then we'll proceed to updating SWAN and trying to fix some of the issues registered here.

[2018-11-26 10:42] diocas commented on #20
Dear @gtoffoli
Sorry for late reply. I tried it with a newer version of SWAN and the notebook was ok.
I'll try to replicate this in the version we have in UP2U to see if I can help you. We are also currently updating our software in UP2U and, hopefully, we should have news until the end of the year.

[2018-11-26 11:20] diocas commented on #20
Dear @gtoffoli

I've managed to get the notebook working without problems.
Here's what I had to do:
- To install missing packages:
    - Add a new cell and run `!pip install --user nltk TextBlob rdflib`.
- To display all the plots:
    - In the method `plot_text_counts` (inside _notebook_code/shakespeare.py_) replace `text_count_plt` with `plt.show()`.
- To enable notebook widgets:
    - Add a new

[2018-11-26 14:00] ebocchi commented on #23
Ciao @andreacorleto,
from the messages above I do not understand if CERNBox does not work *at all* for you or only when you try to perform some sort of operations on some files.
Could you please clarify this, please?

In the meantime, I am having a look in the logs server side

[2018-11-26 14:15] andreacorleto commented on #23
Ciao @ebocchi
I don't know how and why but today everything works fine for me in CERNBox.
During the last week, I had problems in download and upload files due to issue #21 and #23. But now everything seems to be fine.
Thanks

[2018-11-26 14:18] ebocchi commented on #18
Cześć @michzimny,
Kuboxed has already a CVMFS caching server on board.
In fact, there are two levels of caches:
- the CVMFS client itself: has a local cache on the machine where the jupyter user container is spawned.
- a cluster-wise squid proxy: another container (typically running in the same pod of jupyterhub) that serves requests coming from the above CVMFS clients.

In addition, we preventive

[2018-11-26 14:18] #18 closed

[2018-11-26 15:07] michzimny commented on #23
@ebocchi, today in the morning, I have killed cernbox and cernbox-gateway pods, because #21 appeared again. Perhaps, my activity solved the both issues.

However earlier, on 21 Nov, I did the same, and then #21 was solved, but @andreacorleto reported soon (22 Nov) that this issue #23 still persists for him. So, I don't know how they are related.

If you were able to find out anything more from the

[2018-11-26 15:11] ebocchi commented on #23
Ciao @andreacorleto,
Digging in the logs, there were some "operation not permitted" errors on the storage backend.
This is quite strange as, according to the LDAP entries, you are the owner of those files.

I guess this was a glitch between CERNBox and the storage backend.
I saw that the CENRBox containers were restarted 2 hours ago and this likely fixed the permission error.
This is reinforced by

[2018-11-26 15:11] #23 closed

[2018-11-26 17:29] ebocchi commented on #21
Hi @michzimny,
independently on update campaigns, the problem you saw was due to misconfigured permissions on the EOS side. In this respect, CERNBox and CERNBox Gateway are "golden boxes" from the EOS perspective. There was a missing entry on the EOS headnode, inhibiting CERNBox from having the right permission to access files and folders.

This permission issue happens from time to time and I sus

[2018-11-26 17:29] #21 closed

[2018-11-26 17:30] ebocchi commented on #22
Agreed.
There should be readiness probes and more generalized health-checks in kuboxed.

[2018-11-26 17:31] ebocchi commented on #16
@michzimny @diocas
There should be a warning page saying "You don't have a CERNBox. Please go *here* and create one".

To be verified why this does not kick in

[2018-11-27 11:11] gtoffoli commented on #20
Hi @diocas ,
sorry, but I still have the same problem with the dropdown widget, which doesn't show, while a red error or warning message appears so briefly that I can't read it.

1. installing packages is ok: now I always get `Requirement already satisfied`
2. I've made the change you suggested inside _notebook_code/shakespeare.py_
3. enabling the widgets seems ok: se attached file `#20 181127-0.p

[2018-11-27 13:11] diocas commented on #20
Dear @gtoffoli ,
I can only replicate that problem if I don't refresh the page. Did you do this step?
Diogo

[2018-11-27 14:25] gtoffoli commented on #20
Dear @diocas , thank you,
now I've managed to get it to work, too.
I was misunderstanding "refresh the page".
I thought that you meant to re-run the notebook, possibly after restarting the kernel.
Instead, it seems like you meant that I actually reloaded the web page.
Thank you again for your patient support, Giovanni

[2018-12-05 10:17] michzimny opened #24 "xAPI integration"
Would it be possible to integrate CERNBox and/or SWAN with xAPI protocol to send records of user activities to a Learning Record Store?

More information on our LRS: https://trello.com/c/tk8eUtkR

Perhaps, some out-of-the-box plugins, for ownCloud at least, exist, and not so much effort would be needed to implement this.

[2018-12-07 16:11] gtoffoli opened #25 "OS package libffi needed for building some Python packages"
I wasn't able to install the _Scrapy_ python library, for running the notebook _Using Scrapy in Jupyter notebook_; see: https://www.jitsejan.com/using-scrapy-in-jupyter-notebook.html.
The error log, attached below, includes a lot of error messages `No package 'libffi' found`; see: https://sourceware.org/libffi/
It seems that the OS package _libffi_, and possibly also _libffi-dev_, is needed to bui

[2018-12-16 21:24] michzimny commented on #13
Not to be addressed.

[2018-12-16 21:25] michzimny commented on #14
Not to be addressed.

[2019-01-10 15:30] michzimny opened #26 "Web analytics"
Please add Matomo tracking code to all pages as documented here:
https://wiki.geant.org/display/UP2U/Web+Analytics

How it could be achieved?

[2019-01-25 14:00] diocas commented on #26
For SWAN easily, for CERNBox, I'll have to check, but I guess there's no problem.
I'll start looking into these issues when I finish the updates in ScienceBox.

[2019-01-30 11:56] michzimny commented on #26
@diocas, could you please draft a timeline for this? Would you be able to share a release with such a change in February?

[2019-02-06 13:17] michzimny opened #27 "Hostname settings"
In CERNBOX.yaml, the setting CERNBOXGATEWAY_HOSTNAME says that it should match the name of the machine where the proxy is deployed. My understanding is that is the internal hostname of the host that is accessible for instance by `hostname` command. It does not necessarily relate to domain name that is used in URL addresses.

On the other hand, the setting HOSTNAME says that it is to be used in URL

[2019-02-06 14:30] michzimny commented on #27
And when I set both the variables to the public domain name (i.e. something.up2university.eu in my example), it seems to work.

So, is removing the comment for CERNBOXGATEWAY_HOSTNAME a solution for my issue? :)

[2019-02-07 13:32] diocas commented on #26
Hi Michal, we're now updating SWAN and this will be in this update. We're pointing to the end of February.

[2019-02-07 13:53] diocas commented on #27
Hi Michal,
Yes, in the default config, these are supposed to have the same value.
Did you have any problem migrating the ScienceBox to the new version? This was not changed, so it should be the same config as you had before.

[2019-02-07 14:00] michzimny commented on #27
Ok, thanks. So perhaps the comment could be changed :)

I have managed to deployed a new instance from scratch using that branch (but without Up2U SSO), but I have not managed to upgrade the existing instance. I have a bunch of observations that I'm going to share with you, hopefully till tomorrow.

[2019-02-14 13:25] michzimny opened #28 "Errors on saving in SWAN"
As I have had issues with upgrading the existing instance with the webng_beta_psnc brach, I have managed first to deploy a new instance of kuboxed from scratch, based on the webng_beta_psnc branch and without Up2U SSO integration.

I'm experiencing the following issue in SWAN. When saving files, SWAN says:
"Unexpected error while saving file: test.ipynb [Errno 5] Input/output error: '/eos/user/u/u

[2019-02-14 14:49] michzimny opened #29 ""Your Data directory is invalid" in CERNBox/webng_beta_psnc"
I have a new instance of CERNBox deployed from scratch based on the webng_beta_psnc branch. The main page under `https://<domain>/cernbox` says:
[code]

The message above is translated from the message that I see partially in Polish:
![capture](https://user-images.githubusercontent.com/1483196/52794493-3549a500-3070-11e9-9b96-9e5ecb15e4cb.PNG)

Nothing unusual in the logs. What can I do?

[2019-02-14 15:05] michzimny commented on #29
@diocas, when I'm downgrading file CERNBOX.yaml to its state before your 3 last commits from the branch (i.e. before "the upgrade"), then the previous version works fine. I'm clearing the cernbox and mysql volumes before launching another version of the yaml file.

[2019-02-14 16:54] michzimny commented on #29
The same happens not only for a fresh instance but also for the instance of kuboxed that I want to upgrade. See details in email.

[2019-02-14 17:10] moscicki commented on #29
@diocas could we please investigate?

[2019-02-14 18:19] ebocchi commented on #28
Likely because of the recycle bin on eos has not been set

[2019-02-14 18:21] ebocchi commented on #28
Could you please have a look on the MGM container in /root/config_instance/ and run ```set_recycle.sh```?
Actually, before doing so, have you run any other script in this folder?

[2019-02-14 22:24] michzimny commented on #28
This is a fresh installation and I have not run any scripts in the MGM container before.

I just run the `set_recycle.sh`. I got the output provided below, so probably that one command from the script failed because of wrong syntax: `eos recycle config --size 100GB`

[code]

[2019-02-15 13:19] diocas commented on #29
I'll check the email and get back to you.

[2019-02-19 21:05] michzimny commented on #28
@ebocchi, would you have any suggestions how to set up the recycle bin?

@diocas, could you please have a look at this issue too? This is weird as it's a completely fresh instance (other than that one you can access now) based on the webng_beta_psnc branch.

[2019-02-20 15:47] michzimny opened #30 "Pod eos-mgm just stopped"
In my cluster, other than cernbox-alpha, deployed using the webng_beta_psnc branch, the eos-mgm pod just stopped. It's weird as it has restartPolicy: always. Nothing unusual can be found in /var/kubeVolumes/mgm_logs. I couldn't have found any cluster logs. I have no files like /var/log/kube-* on the master node. Nothing interesting in journalctl apart from that one message all the time (but from m

[2019-02-21 17:42] michzimny opened #31 ""Open in SWAN" button leads to cern.ch"
Clicking the "Open in SWAN" button redirects me to something like https://swanserver.web.cern.ch/swanserver/cgi-bin/go?projurl=file://eos/docker/user/u/user6/test.ipynb

I'm using the upstream's webng_beta_psnc branch.

In previous versions of the images, I think that the SWAN_BACKEND setting was taken into account for this behaviour.

[2019-02-21 18:08] michzimny commented on #29
It seems to be fixed by new Docker images.

[2019-02-21 18:08] #29 closed

[2019-02-21 18:20] ebocchi commented on #28
@michzimny
I am not able to reproduce it.
Please check it again and re-open in case it is still a problem

[2019-02-21 18:23] ebocchi commented on #31
Confirmed: there is something wrong.
We'll have a look asap

[2019-02-21 18:25] ebocchi commented on #30
Could you also have a look at ```/var/log/messages```, please?
Any other event that could have interfered with this? E.g., VM being rebooted?

[2019-02-21 21:24] michzimny commented on #30
Found some relevant logs in `/var/log/messages` of the node with eos-mgm:
https://pastebin.com/ubuDMf5P

It might have been related to some cluster or network issues. Kubelet report issues in reaching the master node.

I will close this issue now, and will investiage if it happens again. Thanks.

[2019-02-21 21:24] #30 closed

[2019-02-22 13:27] michzimny commented on #28
I'm reopening as I can reproduce failing scripts in `/root/config_instance/` of the MGM container, also when starting from scratch (see no 1 and 2 below). Moreover, I'm still experiencing the saving issue in the instance described in the beginning of this thread (see no3 below).

1)

First, could please clarify whether any bash scripts should be manually run for eos after the first launch? It work

[2019-02-22 18:01] michzimny commented on #28
And continuing with the super-fresh instance from point 2 from my previous comment:

[code]

Now, I'm opening CERNBox in my web browser, loggining in as user0, and closing the browser tab. Then, I'm opening SWAN in the web browser, loggining in as user0, spawning a user container, creating a notebook, typing `1+2`, pressing CTRL+Enter, receiving the result, and clicking the save icon. I'm getting:

[2019-02-22 18:43] michzimny commented on #28
For clarifying: the same happens when I do not touch any scripts in the MGM container on deploying a new instance.

Additional information from the MGM container that might help:

[code]

Please note that it seems that "eos recycle config --size" parameter was probably added in later EOS' version (4.4.25):
https://github.com/cern-eos/eos/commit/74529834cb1399c16bb55843d1330c6be158d82d#diff-349c85a

[2019-02-22 20:02] michzimny commented on #30
Would it be an improvement to turn all EOS-related pods into deployments? Then, the cluster would managed them if they disappear for whatever reason.

[2019-02-25 09:03] michzimny opened #32 "Files not available in CERNBox since the upgrade"
Since the upgrade last week, the test Up2U instance cernbox.test.up2university.eu (aka cernbox-alpha) gets broken, as follows, every several hours. I have experienced it around 5 times since last Thursday.

A user logs in and sees no files in "All files". Options "Shared with ..." in the menu works fine and list some files. The following message also appears in "All files":

I see it in Polish, an

[2019-02-25 09:11] diocas commented on #32
Next time you see it, please let me know. But don't restart it so that I'm able to debug it.
We have the latest version running in some test machine for weeks and so far everything is working, so I need to check what's happening.

[2019-02-25 09:15] michzimny commented on #32
OK

[2019-02-25 11:57] michzimny commented on #32
@diocas, please have a look now:
https://cernbox.test.up2university.eu/

[2019-02-25 15:02] diocas commented on #32
Yes, it's failing for me. I'll try to debug it.

[2019-02-25 16:58] diocas commented on #32
We've found what was misconfigured and fixed it. But we need to understand how/why it happened.

[2019-02-25 17:07] michzimny commented on #32
Are you able to share the fix? I'm dealing with the same in another instance (based on webng_beta_psnc too).

[2019-02-25 17:51] diocas commented on #32
Inside the eos-mgm container, just do `eos vid add gateway cernbox.cernbox.boxed.svc.cluster.local unix`.
Did it work?

[2019-02-26 09:10] michzimny commented on #32
Yes. When executing the command, it did bring the files back. Thanks.

I will also also be checking if the issue does not appear anymore.

[2019-02-27 08:52] diocas commented on #28
Hi Michal, is this the swan.test.up2u... instance or the other that you mentioned in the email that you created for the students?
Because we were debugging in the swan.test (the one we had access), but just now realized you were "user6" but there seems to be no user6 in this EOS.

[2019-02-27 09:23] michzimny commented on #28
This is the other one for the students. The issue appears when a brand new instance is launched based on that branch (as in my steps described above). Do you need to access that other instance?

The swan.test.up2u... instance uses older versions of EOS and SWAN, so this is probably why we're not experiencing this issue there.

[2019-02-27 10:05] diocas commented on #28
It would help to make it work in order to be ready for Monday.
The versions in swan.test are the latest ones we have in ScienceBox. We haven't pushed the updated version yet. So, it should be the same version you have in that new instance. The only thing new is CERNBox and its components (cernboxgateway, cernboxmysql).

[2019-02-27 10:24] michzimny commented on #28
@diocas, I will send you a private message very soon about the access to that instance.

I think the versions in swan.test, apart from cernbox-related images, are not the latest ones. All LDAP, EOS, and SWAN images are older than in webng_beta_psnc. See my email from 2019-02-14, 23:50 for details.

[2019-02-27 14:19] michzimny commented on #28
We're experiencing another issue in beta - cannot delete files. It says:

meaning

Please try to delete anything as user6. It might be related with this issue.

[2019-02-27 15:35] michzimny commented on #28
The solution for the saving and deleting (the previous comment) issues is to call:
```eos quota set -g 99 -v 10G -i 1M -p /eos/docker/proc/recycle```
or use eos-mgm image v0.8 when deploying from scratch.

Thank you, @ebocchi and @diocas!

[2019-02-27 15:35] #28 closed

[2019-02-27 15:42] michzimny commented on #32
It seems the issue is not appearing anymore.

I understand that the command above is a workaround, but the cause is still to be investigated.

[2019-02-27 15:44] michzimny commented on #16
More and more users are complaining about this. They want to try with SWAN, so they just go to swan...up2u...eu and it fails.

@diocas, pehaps, you could include a proper message in the incoming upgrade for SWAN?

[2019-02-27 15:48] diocas commented on #32
Yes, please leave this open until we find how to properly solve it.

[2019-02-27 15:56] ebocchi commented on #31
The fix for this consists of
- In the CERNBox container, add to the file '/var/www/html/cernbox/config/config.php'
      'cbox.swan.url' => 'https://<HOSTNAME_OF_THE_DEPLOYMENT>/cgi-bin/go',
- In the CERNBox gateway container:
    mkdir -p /run/uwsgi
    yum -y install uwsgi-devel uwsgi-plugin-python2
    restart the uwsgi process

This will be fixed in the next release of the images.

[2019-02-27 16:05] diocas commented on #31
I'm currently building new docker images with the fix.

[2019-02-27 16:18] diocas commented on #31
Images pushed: cernbox and cernboxgateway. still webng_beta_psnc tag.
Please try it and close it if it's ok.

[2019-02-27 22:37] michzimny commented on #31
I've pulled the new images and restarted pods. It works. Thanks.

[2019-02-27 22:37] #31 closed

[2019-02-28 16:33] ebocchi commented on #12
Looks like moodle is able to terminate a SSO session without needing SLO.
This could be of inspiration:

[2019-03-13 11:15] diocas commented on #1
With the updated version of CERNBox we provide oAuth for authentication. When you point to the url you mentioned (https://cernbox.test.up2university.eu/cernbox/desktop), the client will open your browser for you to login (passing through the SSO).

I will update the documentation in http://cernbox-up2u.web.cern.ch

[2019-03-13 11:25] diocas commented on #15
With the updated version of CERNBox we provide oAuth for authentication. The client will open your browser for you to login (passing through the SSO).
Already updated the documentation to mention the new process.
Closing the issue.

[2019-03-13 11:25] #15 closed

[2019-03-13 11:30] diocas commented on #9
This is not present in the new version.
Closing the issue.

[2019-03-13 11:30] #9 closed

[2019-03-14 00:03] diocas commented on #26
I've added the analytics script in the config scripts for both CERNBox and Jupyterhub.
For Jupyter, I created a specific image (built on top of the one we use in our SWAN) with the script and some extra packages to run some notebooks.
But in CERNBox Chrome is blocking me access for some reason... Need to investigate.

[2019-03-14 00:05] diocas commented on #25
Hi Giovanni,
Sorry for the late reply but we were upgrading SWAN. For now we have the new version in swan.test.up2university.eu.
I've installed the packages for the Shakespeare (that you had already done manually) and also installed Scrapy.
Can you please check if you can run your notebook? Is there any other you would like to run and that needs some other packages?
Cheers,
Diogo

[2019-03-14 00:20] #16 closed

[2019-03-15 11:55] gtoffoli commented on #25
Hi diogo,
thank you, but I can't access swan.test.up2university.eu
I can access the production instance swan.up2university.eu using my Up2U-SSO account.
If I try to access the test instance in the same way, I get the "403 : Forbidden - You don't seem to have permission to use SWAN. Did you create a CERNBox account? You need to do it first". If I follow the link, I get a login form from cernbox.tes

[2019-03-15 12:31] diocas commented on #25
Hi Giovanni,
That is the expected behaviour. To use SWAN you need a CERNBox folder, so you need to visit the CBox page at least once (that will create your folder). After you login to CBox, you can then open SWAN and it should open.
But you're saying that when you visit cernbox.test.up2university.eu it doesn't log you in? Can you try going to that address in a private window?
Thanks

[2019-03-15 15:23] michzimny commented on #1
@diocas, thank you. We will test it.

[2019-03-15 15:26] michzimny commented on #15
Ok, thanks. Related to #1.

[2019-03-15 15:41] michzimny commented on #26
@diocas, would it be possible to add an env variable, for instance TRACKING_CODE_URL, and use it in the customization script instead of hard-coding the URL?

As provided in the wiki page referenced above, an URL for tracking codes should be different for production and test instances.

[2019-03-15 16:22] michzimny opened #33 "Moodle integration fails with the new CERNBox"
When trying to add a file from CERNBox to Moodle, via the integration, a CERNBox window opens up and says:

I'm using
learn.test.up2university.eu
and cernbox.test.up2university.eu

@diocas, I will share some secret details with you via email.

[2019-03-15 16:38] gtoffoli commented on #25
Hi Diogo,
I've visited cernbox.test.up2university.eu in a private window, with both FF and Chrome; after I authenticate with the Up2U Login, I am redirected to https://cernbox.test.up2university.eu/cernbox/index.php/login
But I haven't credential to locally login; and if at this point I try to visit swan.test.up2university.eu I get again the "403 : Forbidden" response.

[2019-03-18 09:55] andreacorleto commented on #11
Maximum upload size on https://cernbox.up2university.eu/ is 50 MB. See attached screenshot
![Screenshot_2019-03-18 Files - CERNBox](https://user-images.githubusercontent.com/36439670/54521843-163e7b80-496c-11e9-9a27-3900a4f3de31.png). On https://cernbox.test.up2university.eu/ maximum upload size is higher, I've just uploaded a video of 459 MB size and it works fine. So, the question is: to work wi

[2019-03-18 11:08] diocas commented on #33
Can you enroll me in some course and explain where I should see the CBox integration?

[2019-03-18 11:48] michzimny commented on #11
The test platform has been recently upgraded with a new version of the software from CERN. After we test the new version works fine in test, we will upgrade the production instance.

I think external users should stay in the production instance, and we should upgrade it very soon.

[2019-03-18 13:49] diocas commented on #25
Hi Giovanni,
Your user had a problem. I removed the old data and now it should work.
Please give it a try and let me know.
Sorry for the troubles.

[2019-03-19 11:53] gtoffoli commented on #25
Hi Diogo,
thank you: now I can access SWAN and CERNBox on the test instance.
I was able to import scrapy, but only after installing it with the command _pip install --user scrapy_
Then I was able to copy and execute a notebook for testing scrapy : _Using Scrapy in Jupyter notebook_ (https://www.jitsejan.com/using-scrapy-in-jupyter-notebook.html)
I was confused a little by the new menu and folders

[2019-03-20 10:38] diocas commented on #25
Hi Giovanni,
Thank you for testing.
The local installation of Scrapy is hidden from the user environment (but it shouldn't). I'll try to fix this for the next release, but I'm glad you managed to run it either way.

The logout problem is an ongoing one and we still don't have a solution for it: #12
The error creating a file is some problem in the storage. We will check and get back to you.

[2019-03-20 15:29] michzimny commented on #33
This is probably because of new credentials. Investigating on the Moodle side.

[2019-03-21 10:51] michzimny opened #34 "Some SWAN urls leading to CERN instances"
At swan.test.up2university.eu, after the new version of SWAN had been deployed, 1-2 weeks ago, I experienced SWAN being unable to start a session. I cannot reproduce it, so it's not an issue right now. But I saw then the following error message:

   Do you have a CERNBox account? If not, click here.
   Is there a problem with the service? Find information here.
   If none of the options apply, ple

[2019-03-26 10:24] diocas commented on #33
With the new credentials it works. Missing implementation on CERNBox API to allow share with oAuth (since adding a file link requires it)

[2019-03-26 10:27] diocas commented on #25
Hi Giovanni,
The error creating a file should be solved. I just updated a component in storage deployment that was very old. Can you try?
Thanks

[2019-03-26 17:55] gtoffoli commented on #25
I tried. It's ok.
Thanks!

[2019-04-10 21:22] michzimny opened #35 "User redirected to the standard login page in CERNBox"
A user reports his issue as follows:
* opening https://cernbox.test.up2university.eu/
* seeing the SSO page
* choosing Google and authenticating
* redirected to https://cernbox.test.up2university.eu/cernbox/index.php/login and seeing:
![Zrzut ekranu 2019-04-09 o 08 05 05](https://user-images.githubusercontent.com/1483196/55914352-323de180-5be7-11e9-9543-00c01fb3062c.png)

He reports it happens eve

[2019-04-10 21:29] diocas commented on #35
We had some similar problem before in that instance. Our internal ldap registry was missing some data, so CERNBox received the information that the user existed but when the information necessary was requested, the reply was empty. Is this a new user or was there in the system before?
If the user is new and has no content, reseting his data in ldap would work.

[2019-04-10 22:11] michzimny commented on #35
I'm not sure. But I've tried with two brand new Google accounts and I authenticated successfully, so perhaps he's a returning user...?

[2019-04-11 08:47] diocas commented on #35
This is related to corrupted data in ldap so please send me more details by email. I'll check directly in the server.

[2019-04-11 08:49] diocas commented on #33
Should be working with the updated version: gitlab-registry.cern.ch/cernbox/boxedhub/cernbox:v1.1
Please test and close this if you don't find any problem.

[2019-04-11 08:50] diocas commented on #26
Already provided.

[2019-04-11 08:50] #26 closed

[2019-04-11 08:50] #25 closed

[2019-04-11 09:07] michzimny commented on #35
Just sent via email.

[2019-04-11 12:24] diocas commented on #35
Ldap had ssoAttributes created to him but was missing ssoUnixMatch, so I don't believe he had storage created before.
He can go ahead and try again. Let me know if this time it works.
I'll try to see in the logs if there's anything there

[2019-04-11 12:31] diocas commented on #35
Hi Michal,

For future problems, to fix this issue, I did the following (from inside the CERNBox container):

$ ldapsearch -x -H $LDAP_URI -D $LDAP_BIND_DN -w $LDAP_BIND_PASSWORD -b $LDAP_BASE_DN "mail=email@address.com" -LLL

This should return 2 entries: ssoAttributes and ssoUnixMatch. He was missing ssoUnixMatch, so I just deleted the other one so that he can try again.

To delete:

$ ldapdelet

[2019-04-15 09:14] michzimny opened #36 "Cannot share in SWAN"
At https://swan.test.up2university.eu/user/up001002/projects
when I click "Share" on a project, nothing happens.

At https://swan.test.up2university.eu/user/up001002/projects/test
when I click the sharing icon (top right), nothing happens.

JS console just says "Getting CERNBox auth token" after such clicks.

By the way, JS console says "TypeError: input_data is undefined" when loading either of t

[2019-04-15 09:27] diocas commented on #36
A fix is coming this week. I was releasing last week as I mentioned in a previous email, but I've decided to couple another update (CERN only). I'll let you know as soon as released.

[2019-04-15 15:05] michzimny commented on #35
I have no feedback from the user. I'm closing for now.

[2019-04-15 15:05] #35 closed

[2019-04-16 07:49] michzimny commented on #34
The same happens for the current version of SWAN, for instance when it fails to spawn a kernel.

[2019-04-16 08:09] diocas commented on #34
What do you mean by "when it fails to spawn a kernel"?
When I tried to start a session, I was unable and then got blocked. Manual actions are necessary (restart jupyterhub, inside the jupyterhub container). But hopefully this is fixed in the update I want to push this week.

[2019-04-16 14:17] michzimny commented on #34
I mean when it fails to spawn the jupyter-user* container. Regarding the spawn fail, I will report it separately soon.

[2019-04-16 15:47] diocas commented on #34
This issue should be fixed with the update I sent you today.

[2019-04-29 09:01] gtoffoli opened #37 "Server down?"
Hi, I've tried to access my SWAN account on the production server today, a few weeks after my previous access. The system hanged during the startup procedure (selection of kernel and configuration script).
Now I get the screen message "503 : Service Unavailable - Your server appears to be down. Try restarting it from the hub".

[2019-04-29 09:53] diocas commented on #37
@gtoffoli We have to clean your account state. In the meantime, can you use the test version?

@michzimny can you have a look? You probably need to remove his container and go inside the swan/jupyterhub pod to restart jupyterhub (`supervisorctl restart jupyterhub`). This problem should be fixed with the updated version I sent you recently.

[2019-04-30 11:28] michzimny commented on #37
I haven't checked yet, but I will do the upgrade soon today.

[2019-04-30 14:02] diocas commented on #37
Ok, when you upgrade, please remove all the user containers. And you can also delete the jupyterhub.sqlite.

[2019-04-30 15:37] michzimny commented on #37
In the meantime, I've resterted jupyterhub as @diocas suggested. It led to some other errors, so then I simply recreated the jupyterhub pod. It seems to be working for me know.

@gtoffoli, please check if it's fine for you know.

The test instance is now upgraded. The production instance is not yet (but seems to be fixed).

[2019-04-30 15:39] michzimny commented on #34
Other situation, when I see these errors, also in the latest version, is when one tries to launch jupyter to quickly after deployment of a new version. Then, the swanuser image is not yet fully downloaded, so it fails to start before the timeout of 30 secs.

[2019-04-30 15:49] gtoffoli commented on #37
Now they are both working fine for me! Many thanks!

[2019-05-08 10:30] diocas commented on #34
That is true, but giving some waiting time before opening the gates to the public should be enough to solve it.
I'm closing this issue but re-open it if you think these problems are not solved.

[2019-05-08 10:30] #34 closed

[2019-05-08 10:31] diocas commented on #36
This should be solved with the latest images I sent you. Can you confirm?

[2019-05-09 08:02] michzimny commented on #36
The problem still exists as described above.

Try here: https://swan.test.up2university.eu/

My images are:
* gitlab-registry.cern.ch/swan/docker-images/jupyterhub:v1.3
* gitlab-registry.cern.ch/sciencebox/up2u/swan-systemuser:v1.1

[2019-05-09 08:03] michzimny commented on #33
It's now being tested by Pasquale on the Moodle side.

[2019-05-09 08:03] #33 closed

[2019-05-09 08:07] michzimny commented on #12
After the upgrade to images:
* gitlab-registry.cern.ch/swan/docker-images/jupyterhub:v1.3
* gitlab-registry.cern.ch/sciencebox/up2u/swan-systemuser:v1.1

loginning out from SWAN leads to /hub/sso_logout and the error appears: "500 : Internal Server Error"

Try here: https://swan.test.up2university.eu/

[2019-05-09 08:26] diocas commented on #36
I cannot reproduce, but I think I know what it is. Can you try opening CERNBox in a new tab and try again?

[2019-05-09 08:49] michzimny commented on #36
Ok, then it works. So, for users, a message should probably pop up and explain that they should have CERNBox tab opened.

[2019-05-09 08:57] diocas commented on #36
The problem is the SSO that gets stuck waiting for user intervention before entering CERNBox.
I'll try to add a pop up that will show the login page to the users.

[2019-05-09 09:12] diocas commented on #12
gitlab-registry.cern.ch/swan/docker-images/jupyterhub:v1.4 should fix it. Can you try please?

[2019-05-09 09:29] michzimny commented on #12
Yes, it works now as earlier.

[2019-05-17 08:46] michzimny commented on #32
The same happened after the upgrade of CERNBox in production. The solution from https://github.com/up2university/kuboxed/issues/32#issuecomment-467109854 helped in solving it.

[2019-06-06 16:30] nmvmorgado opened #38 "Shared Folders - Public Link"
The attached file describes the problem but, the what I've been experiencing is the following:

- a public link to a folder with permissions to view is created
- ter URL to that public link is pasted onto a browser windows
- no file is presented, even though files exist

Thank you

[CERNBox Problem.pdf](https://github.com/up2university/kuboxed/files/3262518/CERNBox.Problem.pdf)

[2019-06-06 16:31] nmvmorgado opened #39 "Missing features (or noto)"

[2019-06-06 16:34] diocas commented on #38
Hi,
I think this problem is already solved in a version that is going to be released soon. It hasn't been, because there's still a bug when sharing with password.
I'll update this ticket when we release it.
Diogo

[2019-06-06 16:34] ghost commented on #39
I'd like to leave the following suggestions to some features:

1. inclusion of _online_ editing (through the browser window) of files other than text files;
2. possibility of share contents (folders and/or files) with users of the CERNBox, that would be more interesting than the current possibility of creating public links!

Thank you
Nuno

[2019-06-06 16:39] diocas commented on #39
Dear Nuno,
Online editing, of e.g Word documents, is not possible without licenses from providers of these software. So it needs to be agreed by the project since it is an extra expense.
For sharing you can do it for folders (files is technically not possible), but you need to know the other user username. There's still some discussion about listing users' names, since this is considered sensitive

[2019-07-09 13:04] michzimny opened #40 "EOS pods are not recreated after worker nodes are temporarily unavailable"
When a worker node, hosting MGM or FST pods, gets unavailable, e.g. due to reboot or network problems, the eos pods are lost and are not recreated. So, the reaction of administrators is needed after such events to bring the whole service back.

Could we pack the eos pods into k8s deployments to be sure they work smoothly despite such events?

I think it is needed to have the whole service being ab

[2019-07-09 13:49] michzimny commented on #40
And the same for the ldap pod.

[2019-07-09 14:24] ebocchi commented on #40
Hi @michzimny
You are right. This is due to the fact that MGM and FST pods are declared as simple pods instead of deployments.
LDAP is declared as Deployment now. Are you running the latest version?

[2019-07-10 12:04] michzimny commented on #40
In fact, I have LDAP as a single pod only, not as a deployment. I will check my differences against the latest version and report back.

[2019-07-18 09:59] gtoffoli opened #41 "SWAN - [Errno 28] No space left on device"
Trying to save changes to a notebook, I repeatedly got this error message:

![2019-07-18_114419](https://user-images.githubusercontent.com/983587/61447868-1c605b00-a952-11e9-822a-cd1b17549ab4.png)

Also, I had some trouble getting my SWAN session started and wasn't able to open another notebook.

I don't think I've exceeded my disk quota, since I didn't add files or load new libraries since a whil

[2019-07-18 11:05] michzimny commented on #41
It should be fine now. It works for me. Please try again and report back.

Earlier today, we experienced physical damage in network connection between the machines behind Kuboxed services (incl. SWAN). After recovery, some components (EOS FST pods) have not been recreated because of issue #40. I manually brought them back to live.

[2019-07-18 11:27] gtoffoli commented on #41
I confirm that everything seems to be fine now. Thank you!

[2019-07-18 11:38] #41 closed

[2019-12-13 15:01] gtoffoli opened #42 "SWAN cannot start session"
@Kuboxed, Hi, I wasn't able to start a SWAN session on the production server today, 5-6 weeks after the previous time.
In the configuration I specified as Software stack, in turn, "95a Python3", "94 Python3" and "Bleeding Edge Python3", with and without the Environment script "CERNBOX_HOME/myscript.sh".

I attach 2 small images for the configuration and the error message ("SWAN could not start a s

[2019-12-13 16:32] michzimny commented on #42
I have had the same issue. I just restarted some components on the server. It works fine for me now.

Please try again and reopen the issues if the problem persists.

[2019-12-13 16:32] #42 closed

[2019-12-13 16:47] diocas commented on #42
Hi Giovanni,
The service should be back on. There was a component that needed to be restarted.
Diogo

[2020-02-07 16:09] gtoffoli commented on #37
The server is not responding. Can you have a look? Thanks.

[2020-02-07 16:20] michzimny commented on #37
It's not CERNBox, it's Up2U SSO that is unavailable. You are not authenticated, so CERNBox and SWAN try to redirect you to the SSO.

See here:
[code]

I just opened ticket in SSO repo: https://github.com/up2university/single-sign-on/issues/72

[2020-04-06 18:54] michzimny opened #43 "x509: certificate has expired or is not yet valid"
The test up2u instance has k8s 1.8 installed with [InitNode.sh](https://github.com/cernbox/kuboxed/blob/master/InitNode.sh). Now, any requests to k8s api end up with `x509: certificate has expired or is not yet valid`. This can be seen when manually trying to call `kubectl` but also in worker nodes' logs when they try to talk to the master node's API.

Nothing can be done in k8s.

For instance:
[c

[2020-04-23 15:45] gtoffoli commented on #37
Trying to enter into my SWAN account, I get the "500 : Internal Server Error" message  at the address https://swan.up2university.eu/hub/user/up001009/
CernBox is ok.

[2020-04-23 16:38] gtoffoli opened #44 "Server problem?"
Trying to enter into my SWAN account, I get the "500 : Internal Server Error" message at the address https://swan.up2university.eu/hub/user/up001009/

CernBox is ok.

I added a comment to the issue "Server down?", then realized that I cannot re-open it.

[2020-04-24 09:42] michzimny commented on #43
Hi, the same just occurred in production. We cannot talk to Kubernetes.

Do you know a solution for renewing those API (I guess...) certs? @diocas @ebocchi

[2020-04-24 09:43] michzimny commented on #37
I'm having the same. Solving this one is currently blocked by #43.

[2020-04-24 09:45] michzimny commented on #44
I'm having the same. Solving this one is currently blocked by #43.

[2020-04-24 09:46] michzimny commented on #37
Closing as (currently) duplicate of #44.

[2020-04-24 09:46] #37 closed

[2020-04-29 17:24] ebocchi commented on #43
Hi, I have never seen this before unfortunately.
I found [this](https://github.com/kubernetes/kubeadm/issues/581) which seems to be exactly your problem. The solution looks a bit cumbersome to me but I would it a try to the test cluster first.

[2020-04-30 11:49] michzimny commented on #43
May I ask if you could help us on this issue, I mean trying to apply the solution?

I suppose this happens a year since the creation of the k8s cluster using [your script](https://github.com/cernbox/kuboxed/blob/master/InitNode.sh) (the cert expiration date is 1y?). Around a year ago, we made a big upgrade of that installation at PSNC, and also a from-scratch installation of the cluster perhaps, s

[2021-03-25 16:21] michzimny commented on #43
It's no more relevant.

[2021-03-25 16:21] #43 closed